.body{
  background-color: #F2F0F1;
  font-family: 'Source Code Pro', monospace;
  margin: 0;
}

.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* DESKTOP NAV */
nav, .nav-links {
  display: flex;
  text-decoration: antiquewhite;
}

.nav-links {
  margin-left: auto;
}

.nav-text a {
  font-size: 1rem;
  font-weight: 400;
  margin-right: 20px;
  color: gray;
}

.nav-text:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.nav-text a:hover {
  color: black;
  cursor: pointer;
}

nav {
  align-items: center;
  height: 8vh;
  background-color: whitesmoke;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 5px 100px;
}

.nav-links {
  gap: 4rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

.logo {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.span1 {
  color: #423f3f;
}

.span1, .span2 {
  display: inline-block;
  letter-spacing: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.container-1 {
  margin: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid rgb(213, 202, 185);
  padding: 20px;
  gap: 20px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(109, 99, 99);
  border-radius: 15px;
  width: 40vw;
}

.container-2 {
  border-radius: 15px;
  border: 2px solid rgb(109, 99, 99);
  padding: 20px;
  width: 60vw;
}