{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100 font-family-karla">
    <section id="home" class="pt-15">
      <div class="flex flex-col lg:flex-row justify-center items-center h-auto lg:h-screen px-6 lg:px-10 space-y-8 lg:space-y-0 mt-20 lg:mt-0">
        <!-- Text Section -->
        <div class="text-center lg:text-left lg:w-1/2 w-full space-y-4">
            <p class="text-xl">Hello  ! <b>{{ nama_orang }}</b></p>
            <h1 class="text-4xl font-extrabold">Welcome to Temu Hobi</h1>
            <p class="text-lg text-gray-600">Temu Hobi is a website that provides a variety of items that you can choose according to your hobbies. We provide a variety of items ranging from rare items to those commonly found. You can also see the details of each item that we provide.</p>
        
            <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0 mt-6">
                <a href="#add-item">
                    <button class="bg-black text-white py-2 px-6 rounded-lg hover:bg-white hover:text-gray-600 transition transform hover:scale-105">Add Items</button>
                </a>
                <a href="#goodies">
                    <button class="bg-white border border-gray-500 text-black py-2 px-6 rounded-lg hover:bg-black hover:text-white transition transform hover:scale-105">See Goodies</button>
                </a>
            </div>
        </div>
        <!-- Image Section -->
        <div class="mt-8 lg:mt-0 lg:w-1/2 w-full flex justify-center">
            <img src="{% static 'images/jordans.png' %}" alt="{{name}}" class="w-72 h-auto object-cover hover:skew-y-3">
        </div>
      </div>
    </section>

    <section id="goodies" class="py-12 mb-20 mt-15">
      <h2 class="text-3xl font-bold text-center mb-8">Product Example</h2>
      <div class="flex space-x-4 overflow-x-scroll px-10 scrollbar-hide" style="scrollbar-width: none; -ms-overflow-style: none; margin-right:15px;">
        <img src="{% static 'images/ronaldo (1).png' %}" alt="{{name}}" class="w-60 h-75% object-contain transition-transform duration-50 ease-in-out transform hover:scale-110 hover:shadow-lg"style="padding:15px">
        <img src="{% static 'images/barca.png' %}" alt="{{name}}" class="w-60 h-75% object-contain transition-transform duration-30 ease-in-out transform hover:scale-110 hover:shadow-lg"style="padding:15px">
        <img src="{% static 'images/jordan1.png' %}" alt="{{name}}" class="w-60 h-75% object-contain transition-transform duration-30 ease-in-out transform hover:scale-110 hover:shadow-lg"style="padding:15px">
        <img src="{% static 'images/jordan2.png' %}" alt="{{name}}" class="w-60 h-75% object-contain transition-transform duration-30 ease-in-out transform hover:scale-110 hover:shadow-lg"style="padding:15px">
        <img src="{% static 'images/jordan3.png' %}" alt="{{name}}" class="w-60 h-75% object-contain transition-transform duration-30 ease-in-out transform hover:scale-110 hover:shadow-lg"style="padding:15px">
        <img src="{% static 'images/char.png' %}" alt="{{name}}" class="w-60 h-60% object-contain transition-transform duration-30 ease-in-out transform hover:scale-110 hover:shadow-lg"style="padding:15px">
        <img src="{% static 'images/hw1.png' %}" alt="{{name}}" class="w-60 h-75% object-contain transition-transform duration-30 ease-in-out transform hover:scale-110 hover:shadow-lg"style="padding:15px">
        <img src="{% static 'images/hw2.png' %}" alt="{{name}}" class="w-60 h-75% object-contain transition-transform duration-30 ease-in-out transform hover:scale-110 hover:shadow-lg"style="padding:15px">

      </div>
    </section>

    <section id="add-item" class="py-12">
    <div class="flex flex-col md:flex-row justify-center space-y-4 md:space-x-4 md:space-y-0 items-center">
          <a href="{% url 'main:create_item' %}">
              <button class="bg-black text-white py-2 px-6 rounded-lg hover:bg-gray-800 transition transform hover:scale-105">Add New Item</button>
          </a>
      </div>
      {% if not itemEntry %}
      <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
          <img src="{% static 'images/sad.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
          <p class="text-center text-gray-600 mt-4">Belum ada data item pada web</p>
      </div>
      {% else %}
      <div class="flex space-x-4 overflow-x-scroll px-10 scrollbar-hide mt-[20px]" style="scrollbar-width: none; -ms-overflow-style: none; margin-right:15px;">
          {% for item_entry in itemEntry %}
              {% include 'card_item.html' with item_entry=item_entry %}
          {% endfor %}
      </div>
      {% endif %}

      <div class="relative grid grid-cols-1 z-30 md:grid-cols-3 gap-8 mt-[30px] mx-[20px]">
        {% include "card_info.html" with title='NPM' value=npm %}
        {% include "card_info.html" with title='Name' value=nama_owner %}
        {% include "card_info.html" with title='Class' value=kelas %}
      </div>
      <h5 class="text-center mt-2">Sesi terakhir login: {{ last_login }}</h5>
    </div>
  </section>

  <!-- JavaScript for delete confirmation -->
  <script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this item?");
    }
  </script>
</body>
</html>
{% endblock content %}